.calendar{
	position: relative;
}
div.date{
	width: 200px;
	float: left;
	margin: 1px;
}
.blankday{
	background: #D8D8D8;
}
div.date{
	height: 140px;
	text-allign:center;
	font-family: arial; 
	font-weight:bold;
	color:#000000;
}
.today{
	background : #58FA82;

}
.days{
	width: 200px;
	float: left;
	margin: 1px;
	background :#9F81F7;
    font-family: arial; 
    height: 25px;
}
div.dateC{
	width: 200px;
	float: left;
	margin: 1px;
	background: #F2F2F2;
	height: 140px;
	font-family: arial; 
	font-weight:bold;
}
div.dateC:hover{	
	background: #b6b6b6;
}
.nowAday{
    height: 30px;
	margin: auto auto;
	font-size: 18px;

    background: #FBF8EF;
    padding: 20px;
    height: 30px;

    filter: alpha(opacity=60); 
}
div.blockCalendar {
	position: relative;
   	width: 1500px;
   	margin: auto auto;
    text-align:center;
}
.textblock{
	background: #F2F2F2;
	position: absolute;
	width: 276px;
	height: 735px;
	right :8px;
	top :149px;
}
.calendarminiblock{
	background: #F2F2F2;
	position: absolute;
	width: 200px;
	height: 735px;
	left :8px;
	top :149px;
}
.textMiniCalendar{
	background: #9F81F7;
	width: 276px;
	position: relative;
	height: 25px;
	font-family: arial; 
	text-align: center;
}
.description{
	background-color: #7A82FF; 
    border: none;
    color: white;
    width: 190px;
    height: 100px;
    font-size: 16px;
    font-family: arial;
    text-align: left;
}
.title{
	border: none;
	width: 190px;
    height: 50px;
    font-size: 16px;
    font-family: arial;
    text-align: left;
}
.titleBox{
	background: #9F81F7;
	width: 196px;
	position: relative;
	height: 25px;
	font-family: arial; 
	text-align :center;
}
.delete{
	background-color: #fCAF50;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: arial;
}
.fontEvent{
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
}
.done{
	background-color: #fCAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: arial;
}
}