.calendar{
  position: relative;
}
div.date{
  width: 200px;
  float: left;
  margin: 1px;
}
.blankday{
  background: #D8D8D8;
}
div.date{
  height: 40px;
  text-allign:center;
  font-family: arial; 
  font-weight:bold;
  color:#000000;
}
.today{
  background: #58FA82;

}
.days{
  width: 200px;
  float: left;
  margin: 1px;
  background :#9F81F7;
    font-family: arial; 
    height: 25px;

}
.gtm{
  width: 83px;
  float: left;
  margin: 1px;
  background :#9F81F7;
    font-family: arial; 
    height: 25px;

}

div.dateC{
  width: 83px;
  margin: 1px;
  background: #F2F2F2;

}
div.dateC{
  height: 40px;
  font-family: arial; 
  font-weight:bold;
  color:#000000;
  text-align: center;
  position: relative;
  top: 28px;
}
.nowAday{
    height: 30px;
  margin: auto auto;
  font-size: 18px;

    background: #FBF8EF;
    padding: 20px;
    height: 30px;

    filter: alpha(opacity=60); 
}
div.blockCalendar {
  position: relative;
  width: 1500px;
  margin: auto auto;
  background: blue;

}
.textblock{
  background: #F2F2F2;
  position: absolute;
  width: 286px;
  height: 735px;
  right :8px;
  top :149px;
}

.textMiniCalendar{
  background: #9F81F7;
  width: 286px;
  position: relative;
  height: 25px;
  font-family: arial; 
}
.description{
  background-color: #7A82FF; 
    border: none;
    color: white;
    width: 190px;
    height: 100px;
    font-size: 16px;
    font-family: arial;
    text-align: left;
}
.title{
  border: none;
  width: 190px;
    height: 50px;
    font-size: 16px;
    font-family: arial;
    text-align: left;
}
.titleBox{
  background: #9F81F7;
  width: 196px;
  position: relative;
  height: 25px;
  font-family: arial; 
  text-align :center;